<h1><%= @song.title %></h1>
<p><%= @song.year %></p>
<p><%= @song.category %></p>

<h2>Here are the reviews for this song:</h2>
#TODO Add song's reviews.

<ul>
  <% @song.reviews.each do |review| %>
    <li><%= review.content %></li>
  <% end %>
</ul>